<div class="restaurant-item card" tabindex="0">
    <div class="restaurant-image card-image">
        <img class="lazyload" id="restaurant-thumbnail" loading="lazy" width="320" height="300" />
        <!-- src="https://restaurant-api.dicoding.dev/images/large/14" alt="Restoran Melting Pot" -->
        <div class="restaurant-city card-area" id="restaurant-city">Medan</div>
    </div>
    <div class="restaurant-informations card-informations">
        <a id="restaurant-detail-link" href="/#/detail/rqdv5juczeskfw1e867">
            <h3 class="restaurant-name card-name" id="restaurant-name">Melting Pot</h3>
        </a>
        <div class="restaurant-description card-description" id="restaurant-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula</div>
    </div>
</div>
