<div class="customer-review__container" tabindex="0">
    <div class="customer-review__information" tabindex="0">
        <img class="customer-review__information__user-profile" src="./images/others/profile.jpg" alt="" tabindex="0" />
        <p class="customer-review__information__user-name" id="username" tabindex="0">${this._name}</p>
        <p class="customer-review__information__review-date" id="review-date" tabindex="0">${this._date}</p>
    </div>
    <div class="customer-review__content" tabindex="0">
        <p id="review-text" tabindex="0">${this._review}</p>
    </div>
</div>
