.menu-item {
    width: 200px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.menu-thumbnail {
    width: 100%;
}

.menu-title {
    padding: 1rem;
    margin: 0;
    cursor: pointer;
}
